<div style="margin: 15px">
  <h2>Регистрация</h2>
</div>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div style="margin: 15px">
    <div class="form-group" style="width: 256px">
      <%= f.label :first_name, 'Имя'%><br />
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group" style="width: 256px">
      <%= f.label :last_name, 'Фамилия'%><br />
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group" style="width: 256px">
      <%= f.label :email, 'E-mail' %><br />
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group" style="width: 256px">
      <%= f.label :password, 'Пароль' %><br />
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group" style="width: 256px">
      <%= f.label :password_confirmation, 'Подтверждение пароля' %><br />
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <div class="actions"><%= f.submit "Зарегистрироваться", class: 'btn btn-default' %></div>
  </div>
<% end %>