<div style="margin: 15px">
  <h3><%= @petition.title %></h3>
</div>
<div style="margin: 20px">
  <%= @petition.created_at.strftime('%d/%m/%Y %H:%M') %>
</div>
<div style="margin: 30px">
  <%= @petition.text %>
</div>

<p>
  <b>Голосов:</b>
  <%= @petition.votes.count %>
</p>

<p>
  <% if @petition.created_at < 2.day.ago %>
    Время голосования истекло
  <% elsif @petition.voted_by?(current_user) %>
    Вы уже проголосовали за данную петицию
  <% else %>
    <%= button_to('Поддержать', votes_path({ petition_id: @petition.id }), class: 'btn btn-default' ) %>
  <% end %>
</p>