<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Петиции" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-brand"><%= link_to "Онлайн петиции", "/" %></div>
    <div class="pull-right" style="margin: 15px">
        <span >
        <% if current_user %>
          <%= current_user.email %>
          <%= link_to "Выйти", log_out_path %>
          <%= link_to "Создать новую петицию", '/petitions/new' %>
          <%= link_to "Мои петиции", petitions_path(my: true)  %>
        <% else %>
          <%= link_to "Зарегистрироваться", sign_up_path %> or 
          <%= link_to "Войти", log_in_path %>
        <% end %>
      </span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <%= flash_messages %>
  <%= yield %>
</div>

</body>
</html>
